appnope==0.1.0
argh==0.26.2
attrs==20.1.0
awscli==1.18.131
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
boto3==1.14.54
botocore==1.17.54
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cryptography==3.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
docutils==0.15.2
entrypoints==0.3
future==0.18.2
idna==2.10
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupytext==1.6.0
kiwisolver==1.2.0
lxml==4.5.2
markdown-it-py==0.5.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
mizani==0.7.1
nbconvert==5.6.1
nbformat==5.0.7
numpy==1.19.1
packaging==20.4
palettable==3.3.0
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.1
pdfminer.six==20200726
pdfquery==0.4.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotnine==0.7.1
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pyasn1==0.4.8
PyAthena==1.11.1
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyquery==1.4.1
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
roman==3.3
rsa==4.5
s3transfer==0.3.3
scipy==1.5.2
selenium==3.141.0
six==1.15.0
sortedcontainers==2.2.2
soupsieve==2.0.1
SQLAlchemy==1.3.19
statsmodels==0.12.0
tenacity==6.2.0
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.1.0
